@import 'normalize'
@import 'compass'

@import url(http://fonts.googleapis.com/css?family=Raleway:700|Open+Sans)


html
  height: 100%

body
  +box-sizing(border-box)
  background:
    size: cover
    repeat: no-repeat
    attachment: fixed
  font:
    family: "Open Sans", sans-serif
    size: 18px

  padding: 20px
  line-height: 25px

  &.index
    background-image: url('/images/ceo_bg_1.jpg')

  &.work
    background-image: url('/images/ceo_bg_2.jpg')

  &.play
    background-image: url('/images/ceo_bg_3.jpg')

h1, h2, h3
  font-family: "Raleway"
  text-shadow: 0 0 20px hsl(0, 0%, 50%)
h1
  margin: 25px 0
  font:
    size: 3.5em
  line-height: 55px

h2
  font:
    size: 1.8em
  line-height: 35px

h4
  margin: 5px 0

hr
  border-color: #ddd
  width: 70%
  margin-top: 22px

a
  text-decoration: none
  color: hsl(0, 100%, 30%)

  &:hover
    text-decoration: underline

ul
  margin: 0
  padding: 0px 22px
  list-style-type: square


.right-pane
  width: 480px
  float: right

  &.expanded
    width: 680px

.box
  background-color: hsla(0, 0%, 100%, 0.5)
  background-size: cover
  padding: 2px 18px
  border: 1px solid transparent
  border-radius: 3px

  margin-top: 25px
  margin-bottom: 25px

.site-nav
  position: fixed
  top: 0
  left: 0

  font:
    size: 1.2em

  ul
    padding: 0
    margin: 0

    // I know this looks silly.
    // The menu will unhighlight the current page when hovering over other links.
    // However, we still want the highlight effect when the user highlights the current page link.
    &:hover li a.selected
      background-color: transparent
      &:hover
        background-color: hsla(0, 0%, 8%, 0.5)
    li
      list-style-type: none
      display: inline-block

      a
        display: inline-block
        padding: 6px 8px
        color: #fff
        text-decoration: none
        font-weight: normal
        border-bottom: 3px solid transparent

        &.selected
          background-color: hsla(0, 0%, 8%, 0.5)
        &:hover
          +transition-property(background-color)
          +transition-duration(250ms)
          border-bottom: 3px solid transparent
          background-color: hsla(0, 0%, 8%, 0.5)

@media all and (max-width: 700px)
  .right-pane, .right-pane.expanded
    float: none
    width: 100%
