@import 'normalize'
@import 'compass'

@import url(http://fonts.googleapis.com/css?family=Raleway:700|Open+Sans)


html
  height: 100%

body
  +box-sizing(border-box)
  background:
    image: url('/images/ceo_bg.png')
    size: cover
    repeat: no-repeat
    attachment: fixed
  font:
    family: "Open Sans", sans-serif
    size: 18px

  padding: 20px
  line-height: 25px

h1, h2, h3
  font-family: "Raleway"
  text-shadow: 0 0 20px hsl(0, 0%, 50%)
h1
  font:
    size: 3.5em
  line-height: 55px

h2
  font:
    size: 1.8em
  line-height: 35px

a
  text-decoration: none
  font-weight: bold
  color: #000

  &:hover
    text-decoration: underline


.right-pane
  width: 480px
  float: right

  &.expanded
    width: 680px

.box
  background-color: hsla(0, 0%, 100%, 0.5)
  padding: 2px 18px
  border: 1px solid transparent
  border-radius: 3px

  margin-top: 25px
  margin-bottom: 25px

.site-nav
  position: fixed
  top: 0
  left: 0

  font:
    size: 1.2em

  ul
    padding: 0
    margin: 0

    li
      list-style-type: none
      display: inline-block

      a
        display: inline-block
        padding: 6px 8px
        color: #fff
        text-decoration: none
        font-weight: normal

        &:hover, &.selected
          +transition-property(background-color)
          +transition-duration(250ms)

          background-color: hsla(0, 0%, 8%, 0.5)
@media all and (max-width: 500px)
  .right-pane
    float: none
    width: 100%
