@import 'compass/reset'
@import 'compass'

$background: #1b1b1b

// Dark Gray
$text: white
$header-font: "Raleway"
$accent-font: "Open Sans"
$body-font: "Quicksand"
$accent: #f75757

// Pastel Red
$transparent-accent: transparentize($accent, 0.3)
$link: $accent
$menu-link: white

// White

$opacity: 0.3

*
  +box-sizing(border-box)


html, body
  font:
    family: $body-font, sans-serif
    size: 20px
    smoothing: subpixel-antialiased

  -webkit-font-smoothing: subpixel-antialiased
  -moz-font-smoothing: subpixel-antialiased

  color: $text
  min-height: 100%

  padding-bottom: 10px
  background: $background
  background: url('/images/triangles.png')

  border-top: 2px solid $accent

a
  text-decoration: none
  outline: none

  &:link, &:hover &:active
    color: $link
  &:visited
    color: adjust-hue($link, 25deg)
  &:hover
    text-decoration: underline

  &.phone-number
    color: inherit

abbr
  border-bottom: none

article
  margin-bottom: 45px

aside
  li
    color: $text

blockquote
  margin: 10px 0

  p
    margin: 0
    padding: 0

em
  font-style: italic

h1, h2, h3, h4, h5
  font:
    family: $header-font, sans-serif
  +text-shadow(1px 1px 0px lighten($background, 25%))

  a:link, a:visited, a:hover, a:active
    font-weight: normal
    text-decoration: none
    color: $menu-link

h1
  font-size: 3.5em
  font-weight: bold

h2
  font-size: 3.5em
  font-weight: normal

h3
  font:
    size: 2.5em
    weight: bold
  line-height: 90%

  &:nth-of-type(1)
    border-bottom: 1px solid adjust-hue($transparent-accent, 25deg)
  &:nth-of-type(2)
    border-bottom: 1px solid adjust-hue($transparent-accent, 100deg)
  &:nth-of-type(3)
    border-bottom: 1px solid adjust-hue($transparent-accent, 150deg)
  &:nth-of-type(4)
    border-bottom: 1px solid adjust-hue($transparent-accent, 200deg)
  &:nth-of-type(5)
    border-bottom: 1px solid adjust-hue($transparent-accent, 250deg)

h4
  font-size: 2em
  font-weight: normal
  margin: 5px

h5
  font-size: 2em
  font-weight: bold

.site-header
  width: 100%

  margin-bottom: 20px
  padding: 10px 25px 10px 25px

.infotainment
  font:
    family: $header-font, sans-serif
    size: 1.2em

  padding: 50px 35px 0 20px
  min-width: 250px
  display: table-cell

  ul, li
    list-style-type: none

li
  color: $text

  margin: 4px 0
  padding-left: 2px


ul
  margin: 10px 0px 20px 0px

p
  margin: 15px 0
  padding: 10px 5px
  line-height: 26px

.content
  vertical-align: top
  font-size: 1.1em

  background: transparent

  border-right: 4px solid $accent

  margin: 0 0 0 0px
  padding: 5px 10px

  display: table-cell
  +box-shadow(1px 0 0 lighten($background, 15%))

  ul
    margin-left: 25px
    list-style-type: none

  li
    -background-image: url(image-path('bullet.png')) no-repeat 7px 7px transparent
    -margin: 7px 0

    &:before
      background-color: $accent
      width: 7px
      height: 7px
      display: inline-block
      content: ''
      margin: 6px 8px 6px 0
// The container keeps our floating elements from overflowing on the footer.
.container

  margin: 0px
  padding: 0px

  width: 100%

  &:after
    clear: both

strong
  font-weight: bold
  +text-shadow(0 0 20px $accent)

.important
  font-weight: bold
  a:link, a:visited, a:hover, a:active
    font-weight: bold

.center
  text-align: center


.glow
  +text-shadow(0 0 10px $accent)

  &:hover
    +text-shadow(0 0 30px adjust-hue($accent, 25deg))
    color: darken($text, 10%)
    text-decoration: underline

.left
  float: left

.logo
  font:
    family: $header-font, sans-serif
    size: 3.5em
    weight: bold

  height: 100%

.site-nav
  vertical-align: top
  width: 200px

  display: table-cell

  margin: 0 0 0 0
  padding-right: 20px

  a:link, a:visited, a:hover, a:active
    font-weight: normal
    text-decoration: none

    color: $menu-link

    height: 100%
    width: 100%

    padding: 5px 10px 5px 0

    display: inline-block

  .inner
    position: fixed
    width: 200px
    li
      font:
        family: $accent-font, sans-serif
        size: 1.3em
      text-align: right
      color: #000

      background-color: $transparent-accent

      width: 80%

      margin: 0 0 10px 0
      +transition(all 200ms ease-out)

      &:hover
        width: 100%

      &:nth-child(2)
        background-color: adjust-hue($transparent-accent, 25deg)
      &:nth-child(3)
        background-color: adjust-hue($transparent-accent, 100deg)
      &:nth-child(4)
        background-color: adjust-hue($transparent-accent, 150deg)
      &:nth-child(5)
        background-color: adjust-hue($transparent-accent, 200deg)
      &:nth-child(6)
        background-color: adjust-hue($transparent-accent, 250deg)

    .selected
      -border-right: 5px solid #fafafa
      width: 100%

.right
  float: right

.site-footer
  font-family: $header-font, sans-serif

  margin: 10px 0 0 0
  padding: 0 0 20px 10px

  width: 100%
  display: block

.subtle
  &:hover
    text-decoration: underline

@media all and (max-width: 1400px)
  .site-header
    height: auto
    .logo
      font-size: 3em
  .site-menu
    width: 150px

@media all and (max-width: 960px)
  .site-header
    .logo
      font-size: 2.5em

  .content
    border-right: none

  .infotainment
    display: block
    text-align: center
    margin: 0 10px
    padding: 50px 15px
    width: auto
    border-top: 1px solid $accent

    .blurb
      text-align: left
      margin: 0 20px
      display: inline-block

// Mobile horizontal
@media all and (max-width: 500px)
  .site-header
    .logo
      text-align: center
      font-size: 1.5em
    .title
      display: none

  .site-nav
    display: block
    width: auto
    ul
      li
        width: 95%

        &:hover
          width: 100%
