section.content
  markdown:
    Send me an email at #{mail_to "dev@ericwright.me"}

    Or call me at **<a class="phone-number" href="tel:+15869449581">586-944-9581</a>**, Monday to Saturday, 10 AM to 8 PM Eastern time.

aside.infotainment
  markdown:
    >"You must do the things you think you cannot do."

    *- Eleanor Roosevelt*
