section.content
  markdown:
    Send me an email at #{mail_to "dev@ericwright.me"}

    Or call me at **586-944-9581** Monday to Saturday, 10 AM to 8 PM Eastern time.

aside.infotainment
  markdown:
    ##### social
    * #{link_to "Google +", "https://plus.google.com/u/0/115080447465186164351/about", :target => :blank}
    * #{link_to "LinkedIn", "http://www.linkedin.com/profile/view?id=151970098", :target => :blank}
