section.content
  markdown:
    My name is Eric Wright and I make web applications. Check out my #{link_to "portfolio", "/portfolio"} while you're here, I'm always eager to show off my work.

    ### simple and clean
    I like to create minimalist interfaces while retaining powerful usability. I enjoy CSS3 driven design and work toward minimizing unnecessary Javascript.

    ### agile development
    Software engineering is a creative process and requirements evolve with the project. The best way to plan your next step is to move forward and adapt.

    ### I do other stuff too
    I enjoy #{link_to "Hacker News", "http://news.ycombinator.com", :target => :blank} and #{link_to "Reddit","http://reddit.com", :target => :blank}, a little too much. I play Minecraft with the #{link_to "Nirrius Gaming Community", "http://nirri.us", :target => :blank} and I think we have the best server yet. I'm a big fan of Daft Punk, The Avalanches, Coheed and Cambria or anything with a progressive rock feel.


aside.infotainment
  markdown:
    ##### development
    * Ruby on Rails
    * Heroku
    * EC2/S3
    * Chef
    * Test Driven Development
    * Continuous Integration
    
    ##### design
    * HTML5/CSS3
    * Javascript/jQuery
    * jQueryMobile
    * SASS/CoffeeScript
    * Mobile Optimization
    
  h5.glow.important == link_to "my résumé", "/resume", title: "Eric Wright's Resume"
  