section.content
  markdown:
    ### Oh hello
    My name is Eric Wright and I like to make web applications.
    I've been working professionally for #{Time.now.year - 2010} years and built a lot of #{link_to "cool stuff", "/play"}.

    Let's #{link_to "get in touch", "/contact"} if you want to build something together.

    ### I do other stuff too
    I enjoy motorcycling and am studying Japanese.
    I'm a big fan of Daft Punk, The Avalanches, Coheed and Cambria or anything with a progressive rock feel.


aside.infotainment
  .blurb
    markdown:
      ##### development
      * Ruby on Rails
      * Backbone.js
      * Node.js
      * Heroku
      * EC2/S3 + Chef
  .blurb
    markdown:
      ##### design
      * HTML5
      * CSS3/SCSS
      * Javascript/Coffeescript
      * jquery + jQueryMobile
      * Mobile Optimization

  h5.glow.important == link_to "my résumé", "/resume", title: "Eric Wright's Resume"
