aside.right-pane
  section.box.hero-blurb
    markdown:
      # I create value.
      My name is Eric Wright and I'm a product engineer.
      I specialize in the process of converting ideas into profitable products.
      My #{link_to "resume", "/resume"} highlights some of the work I'm most proud of.

      #{mail_to "dev@ericwright.me", "Ask me about my floppy disks", subject: "What's up with those floppy disks?"} if you want to build something togther.

a.github-profile(href="https://github.com/TeffenEllis" target="_blank")
  img(src="/images/GitHub-Mark-120px-plus.png" alt="Eric Wright's Github")

