section.content
  markdown:
    ### #{header_links "Ichiban", "http://ichiban.so"}
    Ichiban is an #{link_to("open source", "https://github.com/ericwright90/ichiban", target: '_blank')} imageboard software. Inspired by 4chan''s Yotsuba, Ichiban is an imageboard designed to retain the feel of its predecessors while fixing the usability issues that have plagued them. The layout attempts to reduce unnecessary distractions and **exemplify user content**. Ichiban acts more like a board platform rather than a single imageboard. Users are free to make their own boards and delegate moderator status accordingly.

    #### details
    * Ruby on Rails.
    * PostgreSQL database.
    * Deployed to Heroku.
    * Images manipulated through #{link_to("Cloudinary", "http://http://cloudinary.com/", target: '_blank')}, managed through #{link_to("Carrierwave", "https://github.com/jnicklas/carrierwave", target: '_blank')}.

    #### features of interest
    * Tripcodes hashes identify users while retaining anonymity.
    * Significantly easier to discern between anonymous users through tripcode colors.
    * Board layout resizes to screen dimensions, attempting to show as much content as possible.
    * Boards scroll infinitely, **incentivizing users to never leave**.


    ### #{header_links "Boardwalk", "http://boardwalk.io"}
    Boardwalk is a personal website framework built to encourage vanity. Users can create their own board to fill with blog posts, photos, and other customizable widgets. The layout is free form and custom to each user. The only limitation is the size of the board. Boardwalk is #{link_to("open source", "https://github.com/ericwright90/boardwalk", target: '_blank')} and currently in **alpha testing**.

    #### details
    * Built with Backbone.js, using Ruby on Rails as a backend.
    * MongoDB database.
    * Deployed to Heroku.

    #### features of interest
    * Front end completely separated from back end implementation.
    * **Built to scale**. The client does most of the heavy lifting, the server acts a dumb pipe to the database.


    ### #{header_links "Jolly Nap", "http://jollynap.com"}
    Jolly Nap is a sleep calculator. While built as a a web application, Jolly Nap is optimized for iOS.
    
    #### details
    * Deployed to **Github Pages**
    * Guard used to simplify compilation.

    #### features of interest
    * Looks and feels like iOS application.
    * Calculates bed times and wake times from user input.
    
aside.infotainment
  markdown:
    >"Talent is a pursued interest. Anything that you're willing to practice, you can do."

    *- Bob Ross*