section.content
  markdown:
    ### #{header_links "HubSpot", "http://www.hubspot.com/"}
    HubSpot provides inbound marketing software that helps companies get found and make a solid presence on the web. I interned at HubSpot in **DevOps** to help manage **over 1,000 EC2 instances**. 

    #### responsibilities
    * Migrate deprecated **LDAP** nodes to **Jenkins CI**.
    * Use **Puppet** to track and eliminate unnecessary **Hadoop Cluster** server load.

    #### accomplishments
    * Removed unused and **previously untraceable** EC2 instances.
    * **Discovered issue that periodically locked up** our Hadoop Cluster.
    * Recovered corrupted MySQL installation **necessary for production**.
    
    ### #{header_links "Mango Languages", "http://www.mangolanguages.com/"}
    Mango Languages specializes in language learning software for home consumers and state libraries. I was contracted to manage a team and create a **Google Hangout** application called Mango Skits; a multiplayer game to presented at **Google IO**. 

    #### responsibilities
    * **Project Manager**, responsible for directing our artist and translation team.
    * Primary software engineer for the project using **Heroku** and **Twitter Bootstrap** with **Ruby on Rails 3.2**.

    #### accomplishments
    * Collaborated with **Google** to harness their immature API.
    * Deployed from initial concept to production **1 month before deadline**.
    * Went on later to **work with Mango Languages full time**.

    ### #{header_links "SpeedySeat", "http://speedyseat.us"}
    A front-house restaurant reservation and seating system.

    #### responsibilities
    * Page creation with **Jade** templating and **Sass**.
    * Mobile optimization via **CSS media queries**.
    * Deployment via **Chef** to Amazon's **EC2** and **S3** cloud platform.

    #### accomplishments
    * Developed and deployed application to **3 restaurants in 3 months**.
    * Corrected cross-browser issues.
    * Deployed a rock solid **load balanced platform** for a **shared-nothing-architecture**.

    ### #{header_links "Nirrius", "http://nirri.us"}
    A complete server deployment and content management system implementation. Nirrius is #{link_to "open source", "https://github.com/nirrius/minecraft", target: "_blank"}.

    #### responsibilities
    * Develop **RefineryCMS** front-end with blog engine and game server statistic integration.
    * Minecraft server deployment via **Xen Hypervisor** with **CraftBukkit server framework**.
    * Integrating billing system into game server software.
    * Managing **Ubuntu Linux** servers running often immature game server software with **99+%** uptime.

    #### accomplishments
    * Built a **collocated** server designed for **reliable storage** and **scalability**.
    * Migrated systems to **Git revision control** for rapid deployment via **Xen**.
    * Created a bustling community with over **1,000 invitation requests**.
    * Project reached financial stability in just **3 months** and profits in just **6 months**.

aside.infotainment
  markdown:
    ##### testimonials
    > "A wizard of HTML5"
    *-Zack Bloom, CEO of SpeedySeat.*

