aside.right-pane.expanded
  section.box
    markdown:
      # #{header_links "Boardwalk", "http://boardwalk.io"}
      Boardwalk is a personal website framework built to encourage vanity and sharing.
      Users can create their own whiteboard to fill with blog posts and photos.
      The layout is free form and custom to each user.
      Boardwalk is #{link_to("open source", "https://github.com/ericwright90/boardwalk")} and currently in **beta testing**.

      * Built with **Backbone.js**, using **Ruby on Rails** as a backend.
      * Content stored with **MongoDB**, using **Mongoid**.
      * **Built to scale**. The client does the heavy lifting, while Rails acts a pipe to the database.

      <hr>
      # #{header_links "Ichiban", "http://ichiban.so"}
      Inspired by 4chan and Pintrest, Ichiban is an #{link_to("open source", "https://github.com/ericwright90/ichiban")} imageboard software.
      Users can create topics centered around interesting images and retain anonymity.
      The layout attempts to reduce unnecessary distractions and **exemplify user content**.
      Users are free to make their own boards and delegate moderator status accordingly.

      * Built with **Ruby on Rails** and deployed to **Heroku**.
      * Boards reflow for any screen size through the **Isotope layout framework**.
      * Posts scroll infinitely, **incentivizing users to never leave**.

      <hr>
      # #{header_links "Nirrius", "http://nirri.us"}
      Nirrius was an online gaming community featuring a complete server deployment and CMS.
      Nirrius focused on Minecraft server deployment via **Xen Hypervisor** with the **CraftBukkit server framework**.
      I managed six **Ubuntu Linux** servers running immature game server software with **99+%** uptime.
      Our #{link_to "first server", "http://puu.sh/iPX5"} still holds a special place in my heart.

      ## accomplishments
      * Built a **collocated** server designed for **reliable storage** and **scalability**.
      * Migrated systems to **Git revision control** for rapid deployment via **Xen**.
      * Created a bustling community with over **1,000 invitation requests**.
      * Reached financial stability in just **3 months**, and profits in **6 months**.

      <hr>
      # #{header_links "SpeedySeat", "https://github.com/onthelist/onthelist"}
      SpeedySeat was a **bootstrapped startup** created to develop a front house restaurant reservation and seating software.
      Using Amazon's cloud computing platform, SpeedySeat was developed for **rapid deployment** and **load balanced reliability**.
      Speedyseat is no longer active, but is #{link_to('open source', 'https://github.com/onthelist/onthelist')}.

      ## accomplishments
      * Developed and deployed application to **3 restaurants in 3 months**.
      * Created a rock solid **load balanced platform** for a **shared-nothing-architecture**.

      <hr>
      # #{header_links "Jolly Nap", "http://jollynap.com"}
      Jolly Nap is a sleep calculator optimized for mobile devices.
      Jolly Nap calculates bed times and wake times so you don't spend your day groggy after programming for 9 hours straight.

      ## features of interest
      * Deployed to **Github Pages**
      * Looks and feels like a native iOS application.

