<style>
body {
  background-color: #fff;
  color: #5a5a5a;

  font-family: "Calibri", sans-serif;
  font-size: 14px;

  margin: 0.45in;
  margin-bottom: 0.30in;
  line-height: 16px;
}

header {
  font-variant: small-caps;
  text-align: center;

}

h1, h2, h4, h5 {
  font-family: "Cambria", serif;
  font-variant: small-caps;
}

h1, h2 {
  color: #3d365d;
  letter-spacing: 0.09em;
}

h1 {
  font-size: 2.4em;
  margin: 16px 0;
}

h3 {
  font-family: "Calibri", sans-serif;
  color: hsl(59, 100%, 10%);
  font-weight: normal;
  font-variant: normal;

  margin: 0.4em 0;
}

h4 {
  font-family: "Calibri", sans-serif;
  margin: 0.5em 0;
}

hr {
  border: 1px solid #292929;
  border-top-width: 0px;
  width: 150px;
  display: inline-block;
  margin: 0.2em 0;
}

p {
  margin: 0.5em 0;
}

section#mission p {
  text-align: center;
}

section#education p {
  text-align: center;
}

ul {
  padding-left: 16px;
}

</style>
